.gamearea {
    height: 200px;
    width:200px;
    border: 1px solid black;
    margin: auto;
}

.box {
    width:50%;
    height:50%;
    color:black;
    text-align: center;
    display: inline-block;
}

.active {
    border: 1px solid red;
    color:red;
}

.container-app {
    margin: auto;
    width: 50%;
    text-align: center;
}

.center {
    margin: auto;
}
